services:
  - type: web
    name: hyphenbackend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        value: mongodb+srv://affworldtechnologies:wMbiyR0ZM8JWfOYl@loc.6qmwn3p.mongodb.net/hypgymdubaiii?retryWrites=true&w=majority
      - key: JWT_SECRET
        value: 4c05ff8b3007b64382ccc741bc66f1bb3108210bfe7ad6bc9a78c1d7addf384345037d20e343b20cef5c5ea91f0366518dc36c26a58e94ece54b462bd346dbfd
